.companies-scroll-container {
    overflow: hidden;
    margin-block: 6rem;

    > div {
        display: flex;
        align-items: center;
        gap: 6rem;
        animation: scroll 100s linear infinite;

        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(var(--width));
    }
}
