.hero {
    background-image: url(/assets/images/gradient-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue);
    min-height: 100vh;
    color: var(--white);
    overflow: hidden;
    animation: floatBg 10s ease infinite;
    will-change: background-position;

    .nav {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 900;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
        padding: 14px 2rem;
        align-items: center;
        width: min(1050px, 100vw);
        margin-inline: auto;
        background-color: $blue;

        :is(ul.nav__links, ul.cta-container) {
            display: flex;
            align-items: center;
            gap: 1.6rem;
        }

        &:has(button[aria-expanded="true"]) {
            position: relative;
            z-index: 30;
        }

        .cta-menu-button-container {
            display: flex;
            gap: 2rem;
        }

        .logo {
            flex-shrink: 0;
        }

        a {
            text-decoration: none;
        }

        a.cta {
            background-color: var(--white);
            color: var(--blue);
            padding: 0.5em 1.5em;
            border-radius: 0.5em;
            white-space: nowrap;
        }

        :is(.drop-down span.nav__item, .nav__item) {
            padding: 0.5em;
            border: 2px solid transparent;
            border-radius: 0.5em;
            white-space: nowrap;
            transition: border 0.2s ease, opacity 0.2s ease;
            cursor: pointer;
        }

        :is(.drop-down span.nav__item, .nav__item):is(:focus, :hover) {
            border-color: currentColor;
        }

        .drop-down span {
            display: flex;
            align-items: center;
            gap: 0.1em;
            cursor: pointer;
        }

        .drop-down {
            position: relative;
        }

        .drop-down ul {
            position: absolute;
            top: 0;
            color: var(--blue);
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
            left: -16px;
            opacity: 0;
            padding: 8px 0;
            pointer-events: none;
            transition: all 0.2s ease 0.2s;
            visibility: hidden;
            width: 204px;
            text-transform: none;
            font-weight: 550;
            font-size: 1rem;
            letter-spacing: 0px;
            z-index: 2;
        }

        .drop-down ul li {
            padding-inline: 1rem;
            transition: background-color 0.2s ease;
            cursor: pointer;
            padding-block: 0.3em;
            display: flex;
            align-items: center;
        }

        .drop-down ul li span {
            color: #194111;
            background-color: #dbf4d7;
            text-transform: uppercase;
            padding: 0.2em 0.7em;
            border-radius: 0.4em;
            font-size: 0.8em;
            font-weight: 800;
            margin-left: auto;
        }

        .drop-down ul li:hover {
            background-color: hsl(246, 63%, 97%);
        }

        .drop-down:is(:hover, :focus-within) ul {
            display: block;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        .drop-down ion-icon {
            scale: 0.8;
        }
    }

    .flex-container {
        display: grid;
        grid-template-columns: 1fr 650px;
        padding-left: max(4vw, 16px);
        margin-top: 2rem;
        max-width: 1400px;
        margin-inline: auto;

        & > section {
            padding-top: 1.5rem;
            position: relative;
        }

        & > section p.intro {
            color: var(--yellow);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.08em;
        }

        & > section h1 {
            font-size: 5.375rem;
            font-weight: 900;
            letter-spacing: -0.02em;
            line-height: 96px;
            margin-block: 1rem;
        }

        & > section p:not(.intro) {
            font-weight: 500;
        }

        & > div {
            scale: 1.07;
            transform-origin: left;
        }

        section .ctas {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            position: relative;
        }

        .hero-image-container {
            position: relative;
            min-width: 600px;
            right: -0.5rem;
        }

        .hero-image-container .presentation {
            position: absolute;
        }
    }

    .yellow-arrow {
        width: 142px;
        position: absolute;
        top: -16px;
        left: 442px;
    }
}

// Mobile menu
.mobile-menu {
    visibility: hidden;
    display: none;
    width: 100vw;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 30;
    padding: 0 2rem;
    margin-top: 60px;
    transform-origin: right;
    transition: 0.3s ease-in;
    transform: translateX(100%);
    overflow-y: scroll;
    color: $blue;
    height: calc(100vh - 60px);

    & * {
        opacity: 0;
        transition: opacity 1s;
        transition-delay: 0.3s;
    }

    @media screen and (max-width: 894px) {
        opacity: 0;
        visibility: visible;
        display: block;
    }
    &.opened {
        transform: translateX(0%);
        opacity: 1;
        padding-bottom: 200px;

        & * {
            opacity: 1;
        }
    }

    a.main,
    p.main {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 900;
        line-height: 21px;
        width: 100%;
        display: block;
        letter-spacing: 1px;
    }

    p.main {
        padding-block: 1.5rem 1rem;
    }

    a.main {
        padding-block: 1.5rem;
        border-bottom: 1px solid lighten($color: $gray, $amount: 50);
    }

    ul {
        border-left: 1px solid lighten($color: $gray, $amount: 50);
        li {
            padding-left: 16px;
            font-weight: 600;
            padding-block: 0.8rem;
        }
    }
}

@keyframes floatBg {
    0% {
        background-position: 0 50px;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 50px;
    }
}

/* Mobile menu button */
.mobile-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    background: var(--white);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0.4em;
    place-content: center;
    cursor: pointer;

    span {
        display: block;
        height: 2px;
        width: 18px;
        background-color: var(--blue);

        &:nth-child(2) {
            margin-block: 4px;
        }
    }

    .line {
        transition: y 80ms ease-in 80ms, rotate 80ms ease-in, opacity 0ms 80ms;
        transform-origin: center;
    }

    &[aria-expanded="true"] .line {
        transition: translate 80ms ease-in, rotate 80ms ease-in 80ms,
            opacity 0ms 80ms;
    }

    &[aria-expanded="true"] :is(.top, .bottom) {
        position: relative;
    }

    &[aria-expanded="true"] .top {
        rotate: 45deg;
        translate: 0 6px;
    }

    &[aria-expanded="true"] .middle {
        opacity: 0;
    }

    &[aria-expanded="true"] .bottom {
        rotate: -45deg;
        translate: 0 -6px;
    }
}

.sparkle {
    width: 35px;
    top: 0;
}

.avatar-circle-one,
.avatar-circle-two {
    position: absolute;
    opacity: 0.8;
    animation: spin 20s linear infinite;
}

.avatar-circle-one {
    top: 107px;
    width: 172px;
    right: 13px;
}

.avatar-circle-two {
    top: 491px;
    width: 144px;
    left: 81px;
}

.contrast-bubble,
.alttext-bubble,
.focusorder-bubble {
    width: 60px;
    position: absolute;
    z-index: 100;
    opacity: 0;
}

.contrast-bubble {
    top: 65px;
    right: 70px;
    animation: pop 0.2s ease-in 9s forwards;
    transform-origin: bottom left;
}

.alttext-bubble {
    top: 475px;
    left: 60px;
    animation: pop 0.2s ease-in 7s forwards;
    transform-origin: bottom right;
}

.focusorder-bubble {
    top: 445px;
    right: 10px;
    animation: pop 0.2s ease-in 5s forwards;
    transform-origin: bottom left;
}

@keyframes pop {
    0% {
        opacity: 0;
        scale: 0 0;
    }
    75% {
        opacity: 1;
        scale: 1.1 1.1;
    }
    100% {
        opacity: 1;
        scale: 1 1;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@media only screen and (max-width: 894px) {
    .hero {
        .nav {
            align-items: center;
            width: min(950px, 100vw);
            margin-inline: auto;
        }

        .nav :is(.nav__item, ul.nav__links) {
            display: none;
        }
    }

    .hero .yellow-arrow {
        display: none;
    }

    .mobile-menu-button {
        display: grid;
    }
}

@media only screen and (max-width: 840px) {
    .hero {
        background-image: none;
        padding-bottom: 6rem;
    }
    .hero .flex-container {
        display: block;
        padding-inline: 1rem;
        margin-top: 6rem;
    }
    .hero .flex-container > section p.intro {
        letter-spacing: 1px;
    }
    .hero .flex-container .hero-image-container {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .hero .flex-container > section h1 {
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: -0.01em;
        line-height: 62px;
    }
}

@media only screen and (max-width: 640px) {
    .hero {
        min-height: 85vh;
    }
}

@media only screen and (max-width: 420px) {
    .hero {
        .nav {
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 375px) {
    .hero {
        .nav {
            .cta-menu-button-container {
                gap: 4px;
            }
        }

        .flex-container {
            .ctas {
                .btn {
                    padding-inline: 0.6em;
                }
            }
        }
    }
    .hero .flex-container > section h1 {
        font-size: 3rem;
    }
}
